html, body {
  min-height: 100%;
}

.flex-wrapper {
  display: -webkit-flex;
  display: flex;
  min-height: 100%;
}

.flex-area {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.flex-shrink {
  -webkit-flex: 0;
  flex: 0;
}

.flex-grow {
  -webkit-flex: 1;
  flex: 1;
}

.workspace {
  -webkit-flex: 5;
  flex: 5;
}

.full-height {
  height: 100% !important;
}

.full-width {
  width: 100% !important
}

.left-icon {
    float: none;
    margin: 0em 0.35714286em 0em 0em;
}

.no-border-radius {
  border-radius: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-border {
  border: none!important;
}

 .float-right {
   float: right;
 }

 .float-left {
   float: left;
 }

 .pointer {
   cursor: pointer;
 }

 .ui.secondary.vertical.pointing.menu .active.item {
   border-color: #C34B5F;
 }

 .ui.inverted.menu {
   background: #223c5b;
 }

.light-grey {
  color: #c1c1c1!important;
}

.menu-header {
  font-size: 18px;
  font-weight: 600;
}

.setting-nav {
  position: absolute!important;
  bottom: 0!important;
}
.setting-popup {
  left: 10px!important;
}

.note-grid {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.flex-one {
  flex: 1;
}

.row {
  padding-bottom: 0!important;
}

.public-DraftEditor-content {
  caret-color: #C34B5F;
}

.no-margin {
  margin: 0px!important;
}

.ui.page.modals.transition.visible {
    display: flex !important;
}

.favorite > i {
  outline-style: none !important;
}

